#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(255, 228, 196, 0.2);
}

body {
  margin: auto;
}

.main {
  /* border: red solid; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  position: relative;
}

.photograph-header {
  /* border: #db8876 dashed; */
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  z-index: 20;
}

.headercontainer {
  /* border: dotted blue; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
  gap: 100px;
}

.infos {
   /* border: dotted aqua;   */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
  height: 200px;
  width: 350px;

}

h2{
  font-size: ;
}

.infos h1, h2{
  margin:0;
}

.infos blockquote {
  margin: 10px 0 2px 0;
  color: #000;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.media_section {
  /* border: dashed #901c1c;  */
  display: flex;
  flex-wrap: wrap;
  gap: 7%;
  align-items: center;
  justify-content: center;

  margin-top: 80px;
  margin-right: 88px;
  margin-left: 88px;
  padding: 0;
  position: relative;
}

#trierpar {
  /* border: tan solid 1px; */
  display: inline;
  position: relative;
  left: 100px;
  top: 10px;
  font-size: 20px;
  font-weight: 600;
  /* cursor: pointer; */
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.dropdown-content {
  /* border: orangered solid 2px; */
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;
  position: relative;
  left: 120px;
  top: 18px;
  background: #901c1c;
  color: white;
  font-size: 20px;
  padding: 10px;
  
}

.option{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  
}

.option:hover::after {
  content: "\00a0 \00a0  \00a0 \f077";  /* Unicode for the fa-caret-up icon */
  font-family: "Font Awesome 5 Free";  /* Font family for the free Font Awesome icons */
  font-weight: 900;  /* Font weight for the free Font Awesome icons */
  font-size: 0.7em;
}

#listbox-id{
  border-radius: 5%;
}

#pop, #date  {
  
  
  cursor: pointer;
 

}

#date,#titre{
  border-top: #fafafa 1px solid;
  display: none;
  cursor: pointer;
}

#pop:hover #titre, #pop:hover #date {
  display: block;
}



.medialink {
  /* border: #312e2e dotted;  */
  text-decoration: none;
  width: 28%;
  padding-bottom: 28%; /* Set padding to create a square aspect ratio */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.medialink:hover {
  cursor: pointer;
  transform: perspective(2000px) translate3d(0px, 0px, 50px);
}

/* Absolute positioning for child elements */
.medialink > * {
  position: absolute;
  width: 100%;
  height: 100%;
}

.media_section img,
video {
   border-radius: 1%; 
  width: 100%;
  height: 85%;
  object-fit: cover;
}

.captioncontainer {
  color: #901c1c;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 2px;
}

.likes {
  font-size: 22px;
  padding-right: 8px;
  padding-top: 5px;
}

.fa-heart {
  height: 24px;
  width: 21px;
}

#pricetag {
  display: flex;
  justify-content: space-evenly;
  width: fit-content;
  height: auto;
  position: sticky;
  left: 80%;
  bottom: 10px;
  background-color: #db8876;
  margin: 14px;
  color: #000;
  text-align: right;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  z-index: 30;
}

#nblikes {
  /* border: blue solid 1px; */
  padding: 14px;
}

#price {

  padding: 14px;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  position: sticky;
  top: 100px;
  margin: auto;
  z-index: 30;
}

#hi {
  display: none;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 48px;
  font-weight: normal;
  text-align: left;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  border: olivedrab solid 1px;
  color: #312e2e;
  font-size: 36px;
  display: inline;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.errormsg {
  display: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.errormsg[data-error]::after {
  content: attr(data-error);
  display: inline;
  color: yellow;
  font-size: 25px;
  opacity: 0;
}

.errormsg[data-error-visible=true]::after {
  opacity: 1;
}

#message {
  height: 200px;
}

#bye {
  display: none;
  font-size: 48px;
  font-weight: normal;
  text-align: left;
  height: 60vh;
}

/*LIGHTBOX*/

.lightbox {
  display: none;
  
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 97%;
  width: 95%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 1);
}



.lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*CAROUSEL*/

.carousel {
  display: none;
}

.carousel.active {
  display: flex;
  border: pink 8px dotted;
  align-items: center;

  

  height: 87%;
  width: 72%;
  position:fixed;
 
}

#carousel-list {
  
position:relative;
  height: 95%;
  


  display: flex;




  list-style: none;

  margin: 0;

  padding: 0;

   overflow: hidden; 

  scroll-behavior: smooth;
}

/* .carouselItem {
 border: blue 2px dashed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
overflow:hidden;
  flex: 1 0 100%;
  position: relative;
} */

.carouselItem {
  display: none;  /* Hide all slides */
}

.carouselItem[data-active='true'] {
  display: flex;  /* Display the active slide */
  border: blue 2px dashed;
  
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
overflow:hidden;
  flex: 1 0 100%;
  position: relative;
}


.carouselItem > img {
  border: yellow 4px solid;
  
  
  width: 98%;
  object-fit: cover;
}

.carouselItem video{
  border: yellow 4px solid;
  height:98%;
  width:98%;
  object-fit:cover;
}


.carousel-button {

  margin: auto;

  height: 4rem;

  background-color: white;

  border: none;

  width: 2rem;

  font-size: 3rem;

  padding: 0;

  cursor: pointer;


 
/* 
  border: solid yellow 1px; */
}

.carousel-button:hover,
.carousel-button:focus {
  opacity: 1;
}

#closeLB{
  position: absolute;
  top: 0;
  right: 20px;
}

#carousel-button-prev {
  position: absolute;

 

  top: 0;

  bottom: 0;


  left: -80px;

  padding-left: 0.25rem;

  border-radius: 0 2rem 2rem 0;
}

#carousel-button-next {

  position: absolute;

 

  top: 0;

  bottom: 0;

  right: -80px;

  padding-left: 0.75rem;

  border-radius: 2rem 0 0 2rem;
}



/* Path: css/photographer.css */
