#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(255, 228, 196, 0.2);
}

body {
  margin: auto;
}

.main {
  /* border: red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
 
}

.photograph-header {
  /* border: #db8876 dashed; */
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  z-index: 20;
}

.headercontainer {
  /* border: dotted blue; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
  gap: 100px;
}

.infos {
  /* border: dotted aqua; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 200px;
  width: 350px;
}

.infos blockquote {
  margin: 0 0 2px 0;
  color: #000;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.media_section {
  /* border: dashed #901c1c; */
  display: flex;
  flex-wrap: wrap;
  gap: 7%;
  align-items: center;
  justify-content: center;

  margin-top: 80px;
  margin-right: 100px;
  margin-left: 100px;
  position: relative;
  
}

.medialink {
  /* border: #312e2e dotted; */
  text-decoration: none;
  width: 28%;
  padding-bottom: 28%; /* Set padding to create a square aspect ratio */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.medialink:hover {
  cursor: pointer;
  transform: perspective(2000px) translate3d(0px, 0px, 50px) ;
 
}


/* Absolute positioning for child elements */
.medialink > * {
  position: absolute;
  width: 100%;
  height: 100%;
}

.media_section img,
video {
  border-radius: 3%;
  width: 100%;
  height: 85%;
  object-fit: cover;
}

.captioncontainer {
  color: #901c1c;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 2px;
}

.likes {
  font-size: 22px;
  padding-right: 8px;
  padding-top: 5px;
}

.fa-heart {
  height: 24px;
  width: 21px;
}

#pricetag {
  display: inline;
  position: sticky;
  left: 85%;
  bottom: 0;
  background-color: #db8876;
  padding: 10px;
  color: #000;
  text-align: right;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  z-index: 30;
}


.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  position: sticky;
  top: 100px;
  margin: auto;
  z-index: 30;
}

#hi{
  display: none;

}

.modal header {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 48px;
  font-weight: normal;
  text-align: left;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  border: olivedrab solid 1px;
  color: #312e2e;
  font-size: 36px;
  display: inline;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
  margin-top: 10px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  margin:
}

.errormsg{
display:flex;
border: solid 1px red;
flex-direction: row;
align-items: center;
justify-content: space-between;


}

.errormsg[data-error]::after{
  
  content: attr(data-error);
  display: inline;
  color: yellow;
  font-size: 25px;
  text-align: right;
opacity: 0;
}

.errormsg[data-error-visible="true"]::after {
  opacity: 1;
}

#message {
 
  height: 200px;

}

#bye{

  display: none;
  font-size: 48px;
  font-weight: normal;
  text-align: left;
  height: 60vh;
}

#lightbox{
  display: none;
  position: fixed;
  z-index: 100;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

/* #lightbox img {
  height:900px;
  width: 1050px;
  object-fit: cover;
}

#lightbox video {
  height:900px;
  width: 1050px;
  object-fit: cover;
} */

#lightbox.active{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*CAROUSEL*/

.carousel {

  display: none;


}

.carousel.active {

  display: block;

  border: tomato dotted 4px;
 
  max-height: 100%;;
  max-width: 100%;

  

}

#carousel-list {


  border: solid 8px yellow;

  height: 900px;
  width: 1050px;

  display: flex;

  list-style: none;

  margin: 0;

  padding: 0;

  overflow: scroll;

  scroll-behavior: smooth;

}




.carouselItem {

  border: turquoise solid 4px;
  display: flex;
  height: 900px;
  width: 1050px;

  flex: 1 0 100%;
  position: relative;
}

.carouselItem img {

 height: 100%;
 width:100%;
  object-fit: cover;

}


.carousel-button {

  position: absolute;

  display: flex;

  top: 0;

  bottom: 0;

  margin: auto;

  height: 4rem;

  background-color: white;

  border: none;

  width: 2rem;

  font-size: 3rem;

  padding: 0;

  cursor: pointer;

  opacity: 0.5;

  transition: opacity 100ms;

  background-color: sandybrown;

  border: solid yellow 1px;

 

}

.carousel-button:hover,

.carousel-button:focus {

  opacity: 1;

}

#carousel-button-prev{
  left: 0;

  padding-left: 0.25rem;

  border-radius: 0 2rem 2rem 0;


}

#carousel-button-next{
  right: 0;

  padding-left: 0.75rem;

  border-radius: 2rem 0 0 2rem;


}
