:focus {
  transform: perspective(2000px) translate3d(0px, 0px, 50px);
  outline: none;
}
/*effet 3D au survol et focus*/



#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(255, 228, 196, 0.2);
}

body {
  margin: auto;
}

.main {
  /* border: red solid; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  position: relative;
}

.photograph-header {
  /* border: #db8876 dashed; */
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  z-index: 20;
}

.headercontainer {
  /* border: dotted blue; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
  gap: 100px;
}

.infos {
  /* border: dotted aqua;   */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  height: 200px;
  width: 350px;
}

.infos h1,
h2 {
  margin: 0;
}

.infos blockquote {
  margin: 10px 0 2px 0;
  color: #000;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover,
.contact_button:focus {
  background-color: #db8876;
  color: #000;
}

.media_section {
  /* border: dashed #901c1c;  */
  display: flex;
  flex-wrap: wrap;
  gap: 7%;
  align-items: center;
  justify-content: center;

  margin-top: 80px;
  margin-right: 88px;
  margin-left: 88px;
  padding: 0;
  position: relative;
}

/*///////listbox//////*/

.focusable:hover,
.focusable:focus .dropdown-content {
  cursor: pointer;
  transform: perspective(2000px) translate3d(0px, 0px, 50px);
  outline: none;
}

#listbox-id:focus {
  transform: perspective(2000px) translate3d(0px, 0px, 50px) scale(1.1);
}

#trierpar {
  /* border: tan solid 1px; */

  position: relative;
  left: 100px;
  top: 10px;
  font-size: 20px;
  font-weight: 600;
  /* cursor: pointer; */
}

.dropdown-content {
  /* border: orangered solid 2px; */
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  position: relative;
  left: 120px;
  top: 18px;
  background: #901c1c;
  color: white;
  font-size: 16px;
  padding: 10px;
  min-width: 8%;
}

.dropdown-content:focus,
.dropdown-content:hover{
  cursor: pointer;
  transform: perspective(200px) translate3d(0px, 0px, 5px);
  outline: none;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#default {
  display: flex;
  justify-content: center;
}



.option-link {
  color: #fafafa;
  text-decoration: none;
}

.option:hover #titre,
.option:hover #date {
  display: block;
}

.option:focus #titre,
.option:focus #date {
  display: block;
}

.option-link:focus::after,
.option-link:hover::after {
  content: "\00a0 \00a0  \00a0 \f077";
  /* Unicode for the fa-caret-up icon */
  font-family: "Font Awesome 5 Free";
  /* Font family for the free Font Awesome icons */
  font-weight: 900;
  /* Font weight for the free Font Awesome icons */
  font-size: 0.7em;
}

#listbox-id {
  border-radius: 5%;
}

#listbox-id.child-focused #titre,
#listbox-id.child-focused #date {
  display: block;
}

#pop,
#date,
#titre {
  border-top: #fafafa 1px solid;
  display: none;
  cursor: pointer;
  /* border: yellow solid 2px; */
  padding: 5px;
  width: 100%;
}

#pop {
  border-top: unset;
}

/**/

.medialink {
  /* border: #312e2e dotted;  */
  text-decoration: none;
  width: 28%;
  padding-bottom: 28%;
  /* Set padding to create a square aspect ratio */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.mediacard:hover,
.mediacard:focus {
  cursor: pointer;
  transform: perspective(2000px) translate3d(0px, 0px, 50px);
  outline: none;
}



/* Absolute positioning for child elements */
.medialink > * {
  position: absolute;
  width: 100%;
  height: 100%;
}

.media_section img,
video {
  border-radius: 1%;
  width: 100%;
  height: 85%;
  object-fit: cover;
}

.captioncontainer {
  color: #901c1c;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 2px;
}

.likes {
  font-size: 20px;
  padding-right: 8px;
  padding-top: 1px;
}

.fa-heart:hover,
.fa-heart:focus{
  cursor: pointer;
  transform: perspective(2000px) translate3d(0px, 0px, 50px);
  border:  #db8876 solid 0.5px;
 
}


.fa-heart {
  border-radius: 30%;
  height: 24px;
  width: 21px;
}

#pricetag {
  border-radius: 3%;
  display: flex;
  justify-content: space-evenly;
  width: fit-content;
  height: auto;
  position: sticky;
  left: 80%;
  bottom: 10px;
  background-color: #db8876;
  margin: 14px;
  color: #000;
  text-align: right;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  z-index: 30;
}

#nblikes {
  /* border: blue solid 1px; */
  padding: 14px;
}

#price {
  padding: 14px;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  height: 90%;
  width: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  position: sticky;
  top: 20px;
  margin: auto;
  z-index: 30;
}

#hi {
  /* border: blue solid 2px; */
  display: none;
  height: 83vh;
}

#contactForm {
  /* border: yellowgreen solid 2px; */
  height: 100%;
}

.modal header {
  /* border: red solid 2px; */
  display: flex;
  width: 100%;
  margin-bottom: 20px;

  position: relative;
}

.modal header img {
  cursor: pointer;
  height: 24px;
  position: relative;
  top: -31px;
}

.modal header h2 {
  font-size: 40px;
  font-weight: normal;
  text-align: left;
}

form {
  display: flex;
  width: 100%;

  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

form label {
  /* border: olivedrab solid 1px;  */
  color: #312e2e;
  font-size: 25px;
  display: inline;
  padding-bottom: 0;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}

form input,
textarea {
  width: 100%;

  border: none;
  border-radius: 5px;
}

form input {
  height: 35px;
}

.errormsg {
  display: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.errormsg[data-error]::after {
  content: attr(data-error);
  display: inline;
  color: yellow;
  font-size: 20px;
  opacity: 0;
}

.errormsg[data-error-visible="true"]::after {
  opacity: 1;
}

#message {
  height: 200px;
}

#send {
  height: unset;
  width: unset;
  padding: 14px 30px;
  font-size: 14px;
}

#bye {
  display: none;
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  height: 60vh;
}

.modal#bye {
  align-items: center;
}

#bye > header {
  display: flex;
  justify-content: end;
}

.merciflex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 64%;
}

/*LIGHTBOX*/

.lightbox {
  display: none;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 97%;
  width: 95%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
}

.lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*CAROUSEL*/

.carousel {
  display: none;
}

.carousel.active {
  display: flex;
  /* border: pink 8px dotted; */
  align-items: center;

  height: 95%;
  width: 72%;
  position: fixed;
}

#carousel-list {
  position: relative;

  display: flex;

  list-style: none;

  margin: 0;

  padding: 0;

  overflow: hidden;

  scroll-behavior: smooth;
}

.carouselItem {
  display: none;
  /* Hide all slides */
}

.carouselItem[data-active="true"] {
  display: flex;
  /* Display the active slide */
  /* border: blue 2px dashed; */

  align-items: center;
  justify-content: center;
  height: auto;
  width: 80%;
  overflow: hidden;
  flex: 1 0 100%;
  position: relative;
}

.carouselItem > img {
  /* border: yellow 4px solid; */

  max-height: 80%;
  width: 82%;
  object-fit: cover;
}

.carouselItem video {
  /* border: yellow 4px solid; */
  height: 90%;
  /* width: auto; */
  object-fit: cover;
}

.carousel-button {
  margin: auto;

  height: 4rem;

  background-color: white;

  border: none;

  width: 2rem;

  font-size: 3rem;

  padding: 0;

  cursor: pointer;

  /* 
  border: solid yellow 1px; */
}

.carousel-button:hover,
.carousel-button:focus {
  opacity: 1;
}

#closeLB {
  position: absolute;
  top: 0;
  right: 20px;
}

#carousel-button-prev {
  position: absolute;

  top: 0;

  bottom: 0;

  left: -80px;

  padding-left: 0.25rem;

  border-radius: 0 2rem 2rem 0;
}

#carousel-button-next {
  position: absolute;

  top: 0;

  bottom: 0;

  right: -80px;

  padding-left: 0.75rem;

  border-radius: 2rem 0 0 2rem;
}

/* Path: css/photographer.css */
